{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/create_qna.css' %}">
{% endblock css %}


{% block content %}

<a href="{% url 'user_home'%}"><i class="fas fa-home"></i></a>

{% if error %}
    <p>{{error}}</p>
{% else %}
    <div class="script">
        스페이스 X에서  지구를 떠나 <br>
        새로운 행성으로 이주하는 <br>
        <span>“The new planet”</span><br>
        프로젝트 참가자로 <br>
        당신이 선발되었다. <br>
    </div>
    <button class="next"> next → </button>
    <div>
        <form method="post">
            {% csrf_token %}
            {% for question in questions %}
            <div class='qna_box' id='question-{{forloop.counter}}'>
                <div class='question'>
                    <span>Q {{forloop.counter}}.</span>
                    <p>{{question.content}}</p>
                </div>
                <div class='answer'>
                    <div class='answer_radio'>
                        {% for option in question.options.all %}
                        <label>{{option.content}}
                            <input type="radio" name="{{option.question.pk}}" value={{option.pk}}>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="before"> before ← </button>
            <button class="next" onclick="tell()"> next → </button>
            {% endfor %}
            <!-- <button id="" type="submit" href="{% url 'share_qna' %}">done!</button> -->
        </form>
    </div>
    <script src="{% static 'app/create_qna.js' %}"></script>
{% endif %}

{% endblock content %}