{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/create_qna.css' %}">
<!-- <link rel="stylesheet" type="text/css" media="(max-width:500px)" href="../static/app/account.css"> -->


<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

{% endblock css %}

{% block content %}

<!-- <a href="{% url 'user_home'%}"><i class="fas fa-home"></i></a> -->


<form method="post">
    {% csrf_token %}
    {% for question in questions %}
    <div class='qna_box' id='question-{{forloop.counter}}'>
        <div class='question'>
            <h1>Q {{forloop.counter}}.</h1>
            <p>{{question.content}}</p>
        </div>
        <div class='answer'>
            <div class='answer_radio'>
                {% for option in question.options.all %}
                <label><br>
                    {{option.content}}
                    <input type="radio" name="{{option.question.pk}}" value={{option.pk}}>
                </label>
                {% endfor %}
            </div>
        </div>
        <button class="next"> next → </button>
    </div>

    {% endfor %}
    <!-- <button type="submit" href="{% url 'share_qna' %}">done!</button> -->
</form>
{% endblock content %}