{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'app/friend_list.css'%}">
{% endblock css %}


{% block content %}

<a href="{% url 'user_home'%}"><img class="home" src="{%static 'image 16.png'%}"></a> 

<div class="wrap">
    <h2>Friend <br> List</h2>
    <p>친구들이 내 정답을 <br> 얼마나 맞췄을까?</p>
    <div class="friend_select">
        <select name="friend" id="friend" onchange="getResult()">
            {% for score in scores %}
            <option value="{{score.user.pk}}">{{score.user.planet.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="friend_score">
        <div class="qna" id="qna-js" style="overflow: scroll;"></div>
    </div>
    <div class = "friend_page_wrap">
        <div class = "friend_page">
                <a href="" id="friendPlanet-js"></a>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
    const friendSelect = document.querySelector('#friend')
    const qnaBox = document.querySelector('#qna-js')
    const setLink = () => {
        const friendPlanetLink = document.querySelector('#friendPlanet-js')
        friendPlanetLink.textContent = `${friendSelect.options[friendSelect.selectedIndex].text} 보러가기`
        friendPlanetLink.href = `/app/friend_planet/${friendSelect.value}`
    }

    const showResult = function (response) {
        qnaBox.querySelectorAll('*').forEach(n => n.remove())

        const data = response.data
        for (i in data) {
            const qnaRow = document.createElement('div')
            qnaRow.setAttribute('class', 'qnaRow')

            const questionBox = document.createElement('p')
            qnaRow.appendChild(questionBox)

            questionBox.textContent = `Q${i}.  ${data[i].question}`

            const answerBox = document.createElement('p')
            qnaRow.appendChild(answerBox)
            const isAnswer = (data[i].isAnswer === 'true') ? 'O' : 'X'

            answerBox.textContent = `→ 친구의 답: ${data[i].answer}    ( ${isAnswer} )`

            qnaBox.appendChild(qnaRow)
        }
        setLink()
    }
    const getResult = () => {
        console.log(friendSelect.value)
        axios.post('/app/result', { friend_pk: `${friendSelect.value}`, owner_pk: "{{owner.pk}}" })
            .then(response => {
                console.log(response)
                showResult(response)
            })
    }

    getResult() 
</script>

{% endblock content %}