{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../../static/app/rank.css" />
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/703f0f4079.js" crossorigin="anonymous"></script>
{% endblock css %}


{% block content %}


<div class="wrap">
    <div class="top">
        <h2 class="title">Rank</h2>
        <a href="{% url 'user_home'%}"><img class="home" src="{%static 'image 16.png'%}"></a>
    </div>
    <p class="message">누가 가장<br>나와 가까울까?</p>

    <div class="rankTable">
        <div class="table_head">
            <span>순위</span>
            <span>이름</span>
            <span>정답수</span>
            <span style="margin-right: 20px;">나와의 거리</span>
        </div>
        {% for data in result %}
        <div class="table_row">

            <span style="margin-left: 15px;">{{forloop.counter}}</span>
            <span>{{data.name}}</span>
            <span>{{data.score}} / 9</span>
            <span style="margin-right: 5px;">{{data.distance}} 광년</span>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}