{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}

<a href="{% url 'user_home'%}"><i class="fas fa-home"></i></a> 

<div class="total">
  <div class='scorebox'>
    <p>Hmm... your score is</p>
    <h1>{{score.score}} / {{score.qna.Qna_questions.count}}</h1>
    <h2>
      친구에 대해 <br>
      이 정도로 알고있군요! <br>
      당신의 문제도 만들어보실래요?
    </h2>
  </div>
</div>


<a href="{% url 'answer_detail' %}">정답 상세 보기</a>
<a href="{% url 'create_qna' %}">내 문제도 만들기</a>

{% endblock content %}