{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../../static/app/share_qna.css" />
{% endblock css %}

{% block content %}

  <a href="{% url 'user_home'%}"><img class="home" src="../../static/image 16.png"></a>

  <div class="total">
    <div class="title">
      <h1>
        Great job! <br>
        Share with <br>
        friends :)
      </h1>
      <p>
        친구들에게 <br>
        질문을 공유해보세요! <br>
        과연 누가 가장 많이 <br>
        내 정답을 맞출 수 있을까요?
      </p>

  </div>
    <div class="copylink">
      <input id="link" value="https://wouldu.herokuapp.com/solve_qna/{{qna_pk}}" />
    </div>
    <div class="buttons">
      <button onClick="copyLink()">클립보드로 복사</button>
      <br>

      <!-- sns 공유하기 -->
      <input id="kakao" type="button" onClick="shareKakaotalk();" value="카카오톡 공유하기" />
      <br>
      <input id="facebook" type="button" onClick="shareFacebook();" value="페이스북 공유하기" />
    </div>
  </div>



  <!-- script 코드 -->
  <script type="text/javaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script type="text/javascript">
    const link = document.getElementById("link")
    const solve_url = link.value


    //console.log(solve_url)

    function copyLink() {
      link.select();
      document.execCommand("Copy");
    }

    function shareKakaotalk() {
      Kakao.init("938593826d5c00ae4a36b31f67f2717e");
      Kakao.Link.sendDefault({
        objectType: "feed",
        content: {

          title: "[우주:WouldU?] 신개념 심리테스트",
          description: "우리 얼마나 가까운지 알아볼까? ",
          imageUrl: "https://blogfiles.pstatic.net/MjAyMDA4MTZfMjc2/MDAxNTk3NTE5ODM2NTc1.-SAnq0FQnIq5uoEiyzgRDt0MqrufhP1MgNUAPUzhrrgg.kjMBUESzyyIj3NlcaVl80e_n1EPU5e1nS6gVQVSClBYg.PNG.tkso1357/thumbnail.png",
          link: {
            mobileWebUrl: "https://mighty-dawn-50726.herokuapp.com/",
            webUrl: "https://mighty-dawn-50726.herokuapp.com/"

          }
        },
        social: {
          likeCount: 325,
          commentCount: 64,
          sharedCount: 542
        },
        buttons: [
          {

            title: "문제풀기",
            link: {
              mobileWebUrl: "https://mighty-dawn-50726.herokuapp.com/",
              webUrl: "https://mighty-dawn-50726.herokuapp.com/"

            }
          }
        ]
      });
    }

    function shareFacebook() {
      var url = solve_url;
      var encodeURL = encodeURIComponent(url);
      location.href = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURL;
    }

  </script>

  {% endblock content %}