{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>wouldU</title>
</head>

<body>
    {% if error %}
    <p>{{error}}</p>
    {% else %}
    <div>
        
    </div>
    <form method="post">
        {% csrf_token %}
        <h3>{{planet_name}}의 주인의 선택은?</h3>
        {% for pair in qna_questions %}
        <div class='qna_box' id='question-{{forloop.counter}}'>
            <div class='question'>
                <span>Q {{forloop.counter}}.</span>
            </div>
            <div class='answer'>
                <div class='answer_radio'>
                    {% for option in pair.question.options.all %}
                        <input type="radio" name="{{option.question.pk}}" value={{option.pk}}>
                    </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="submit">done!</button>
    </form>
{% endif %}
</body>

</html>