{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'app/user_home.css'%}">
{% endblock css %}

{% block content %}
<div class="title">
    <h1>Hello,<br> this is planet <br> {{request.user.planet.name}} :) </h1>
</div>

<div class="bottom">
    <div class="buttons">
        <button class="button">
            <a href="{% url 'create_qna_home'%}">
                create QnA <br> 내 문제 만들기
            </a>
        </button>
        <br>
        <button class="button">
            <a href="{% url 'friend_list'%}"></a>
            friend list <br> 친구 행성 목록
        </button>
        <br>
        <button class="button">
            <a href="{% url 'create_qna_home'%}"></a>
            rank <br> 순위 보기
        </button>
        <br>
    </div>
</div>

{% endblock content %}