{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/user_home.css' %}">
{% endblock css %}

{% block content %}
<div class="title">
    <h1>This is the planet, <br> {{request.user.planet.name}}. </h1>
</div>

<div class="bottom">
    <button class="button"><a href="{% url 'create_qna_home'%}">create QnA</a></button>
    <br>
    <button class="button">friend list</button>
    <br>
    <button class="button">rank</button>
    <br>
    <a href="{% url 'logout' %}">로그아웃</a>

{% endblock content %}